@{
    ViewData["Title"] = "Home Page";
}
@{
    var twitterSite = "@MyTwitterSite";
}
<div>
    <div>&nbsp;</div>
    <section class="quote-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 quote-area">
                    <div>
                        <h4>About IOT Waterloo</h4>
                    </div>
                    <hr />
                    <h5 class="text-justify">
                        <span>networking</span> for people  who love learning about emerging technology.
                    </h5>

                    @*<div class="col-lg-7 col-sm-12 quote-right">*@
                    <p class="text-justify">
                        iot waterloo is a peer to peer network group, a ready-made community for absorbing best practices and learning from the collective experience of over 2,000+ members. iot waterloo hosts quarterly events featuring presentations from leading iot industry professionals.
                        join us to be on the cutting edge of where the future is heading, meet new people, discuss and explore ideas.
                        follow us on<b> twitter @("@")iotwaterloo</b>
                    </p>
                    @*</div>*@
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 quote-area">
                    <video controls="controls" height="400" width="1000" autoplay="autoplay" loop="loop" muted>
                        <source src="~/Images/Join%20IoT%20Waterloo%20Region!.mp4" type="video/mp4" height="400" width="400" />
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section class="quote-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 quote-area">
                    <br />
                    <div>
                        <h4>About IOT Waterloo Job Board</h4>
                    </div>
                    <hr />
                    <div>
                        <h4>For Job Seekers/Talent</h4>
                    </div>

                    <h5 class="text-justify">
                        <span>networking</span> for people who wants to work with emerging technology.
                    </h5>

                    @*<div class="col-lg-7 col-sm-12 quote-right">*@
                    <p class="text-justify">
                        iot waterloo has provided oppertunity to work with desired field and compnay to all qulified candidates. Easy process and quick responce
                        from the employer.
                    </p>
                    @*</div>*@
                </div>
            </div>
        </div>

    </section>
    <section class="quote-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 quote-area">
                    <div>
                        <h4>For Employer</h4>
                    </div>

                    <h5 class="text-justify">
                        <span>networking</span> for people who wants to offer perfect match for job position.
                    </h5>

                    @*<div class="col-lg-7 col-sm-12 quote-right">*@
                    <p class="text-justify">
                        iot waterloo provides services for employer to create job post on the website and find the best candidate
                        through the help of iot waterloo. Also, iot waterloo can create job post to enhancement the hiring process in order
                        to find perfect match for the position.
                    </p>
                    @*</div>*@
                </div>
            </div>
        </div>
    </section>

    <section class="quote-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 quote-area">
                    <div>
                        <h4>We are all about</h4>
                    </div>
                    Internet of Things
                    Smart Sensors
                    Business Strategy
                    New Technology
                    Business Referral Netwroking
                    Software Development
                    Hardware
                    Hardware Startups
                    Electronic

                    
                </div>
            </div>
        </div>
    </section>

</div>


<section class="quote-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-sm-12 quote-area">
                <div>
                    <h4>Leadership Team</h4>
                </div>

                <h5 class="text-justify">
                    <span>networking</span> for people who wants to offer perfect match for job position.
                </h5>

                @*<div class="col-lg-7 col-sm-12 quote-right">*@
                <p class="text-justify">
                    iot waterloo provides services for employer to create job post on the website and find the best candidate
                    through the help of iot waterloo. Also, iot waterloo can create job post to enhancement the hiring process in order
                    to find perfect match for the position.
                </p>
                @*</div>*@
            </div>
        </div>
    </div>
</section>

    </div>
