@{
    ViewData["Title"] = "Home Page";
}
@{
    var twitterSite = "@MyTwitterSite";
}
<hr />
<div class="container">



    <section class="cat-area section-gap" id="service">
        <div class="container">
            <div class="row">
                <div class="single-cat d-flex flex-column">
                    <div class="float-left col-4">
                        <a href="#"><img src="~/Images/microsoft logo 300x138.png" alt="" title="" /></a>
                    </div>
                </div>
                <div class="single-cat d-flex flex-column">
                    <div class="float-right col-7">
                        <p>
                            Explore the benifits of Microsoft's AI capabilities with your IoT products and service.
                        </p>
                    </div>
                </div>

                <div class="single-cat d-flex flex-column">
                    <div class="float-left col-4">
                        <a href="#"><img src="~/Images/catalyst 137 logo 300x138.png" alt="" title="" /></a>
                    </div>
                </div>
                <div class="single-cat d-flex flex-column">
                    <div class="float-right col-7">
                        <p>
                            The World’s Largest IoT Manufacturing Space.
                        </p>
                    </div>
                </div>

                <div class="single-cat d-flex flex-column">
                    <div class="float-left col-4">
                        <a href="#"><img src="~/Images/conestoga logo 300x138.png" alt="" title="" /></a>
                    </div>
                </div>
                <div class="single-cat d-flex flex-column">
                    <div class="float-right col-7">
                        <p>
                            Partnering Advanced Manufaturing talent with Industry.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<div>&nbsp;<br /> &nbsp;</div>
<div>&nbsp;<br /> &nbsp;</div>
<div>&nbsp;<br /> &nbsp;</div>