#iconStyle {
    float: left;
    padding: 0px;
    margin: 0px;
    
}
.Image {
    background-image: url("../Images/IoTWaterlooLogo.png");
    height:100%;
    width:100%;
    background-repeat:no-repeat;
}
