#iconStyle {
    float: left;
    padding: 0px;
    margin: 0px;
    
}
.Image {
    background-image: url("../Images/IoTWaterlooLogo.png");
    height:100%;
    width:100%;
    background-repeat:no-repeat;
}
.navBarImage {
    background-image: url("../Images/FooterImage.png");
    padding-top:10px;
    height: 200%;
    width: 100%;
    background-repeat: no-repeat;
}
/*.asideLeft {
    padding:0px;
    margin: 20px 130px 0px 50px;
    border: 3px solid;
    border-color: white;
    width:500px;
    float: left;
    color: white;
}
.SectionMiddle {
    padding: 0;
    margin: 0px 20px 0px 0px;
    border: 3px solid;
    border-color: white;
    margin: 20px 0px 0px 0px;
    width: 550px;
    text-align:center;
    color: white;
    float:left;
}
.asideRight {
    padding: 0;
    margin: 20px 50px 0px 0px;
    color: white;
    border: 3px solid;
    border-color: white;
    width: 500px;
    float: right;
}*/
.Icons{
   background-color:transparent;
   height:16px;
   width:16px;
}
/* CSS for the pages*/
.bgColor {
    color: #341646
}
#footer {
    position: absolute;
    width: 100%;
    height: 100px;
}
 #footer, #push {
    height:200px !important; 
 }
#SliderContainer {
}