<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/ico" href="~/Images/HeaderLogo.png"/>
    <title> @ViewData["Title"] - IoTWaterloo_JobBoard</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/LayoutStyle.css" rel="stylesheet" />
</head>
<body>
    <header>       
        <div class="Image float-left img-fluid" >
            <div class="navbar-expand-md"> </div>
            <!-- <img class="iconeSyle" src="~/Images/iotWaterloo-logo-2.png" />-->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent box-shadow mb-3">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="container float-right" style="padding-top:10px; font-size:26px;">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" >
                        <!--   <partial name="_LoginPartial" /> -->
                        
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <div class="" style="width:180px;">&nbsp;</div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Homepage</a>
                                <ul class="dropdown-menu text-white bg-purple border-top">
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Employers</a></li>
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Employers</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="CompanyDetail" asp-action="Index">Employers</a>
                                <ul class="dropdown-menu text-white bg-purple border-top">
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="CompanyDetail" asp-action="Index">Create Employers</a></li>
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="CompanyDetail" asp-action="Index">View Employers</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Job Post</a>
                                <ul class="dropdown-menu text-white bg-purple border-top">
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="JobDetail" asp-action="Index">Create Post</a></li>
                                    <li> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">View Post</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Talent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" style="width:178px;" asp-area="" asp-controller="Home" asp-action="Index">Event & News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Compnay</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer id="footer">
        <div id="push"></div>
        <div class="navBarImage row text-white text-center">
            
            <div class="col-md-4"> 
            <div>
                <a>PRIVACY POLICY</a><br/>
                <a>TERMS & CONDITIONS</a><br />
                <a>ABOUT</a>
                  </div></div>
             <div class="col-md-4"><h3>Internet Of Things Waterloo Region</h3>
                                        <h4> Co-Creating The Future</h4>
                                        <div>
                                             <img src="~/Images/facebook.png" />
                                             <img src="~/Images/InstagramIcon.png" />
                                             <img src="~/Images/twitter.png" />
                                             <img src="~/Images/Youtube.png" />
                                         </div>                                                                                             
            </div>
            <div class="col-md-4">
            <div>
                <a>CONTACT</a><br />
                <a>PARTNERS</a><br />
                <a>NEWS</a>
                 </div> </div>
           
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script>
            x = $('#div-that-increase-height').height() + 20; // +20 gives space between div and footer
            y = $(window).height();
            if (x + 100 <= y) { // 100 is the height of your footer
                $('#footer').css('top', y - 100 + 'px');// again 100 is the height of your footer
                $('#footer').css('display', 'block');
            } else {
                $('#footer').css('top', x + 'px');
                $('#footer').css('display', 'block');
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
